
.octosort-button-group {
    width: 250px;
}

.octosort-header-item {
    padding: 0 1em;
}

.octosort-header-item:last-child {
    padding-right: 0;
}

.octosort-button-icon {
    width: 16px;
    margin-right: 4px;
    font-size: 16px;
    font-weight: lighter;
    line-height: .9;
}